@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

$color-bg: #faf7ef;
$color-bg-secondary: rgba(250, 250, 250, .7);
$color-primary: #f0890f;
$color-secondary: #201c40;
$color-white: #fff;

$title-size: 2.5rem;
// $sub-title-size: 

$font-type: 'Montserrat', sans-serif;